<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{STORY_NAME}}</title>
		<%- story_css %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="topnav">
			<div id="menu">
			  <span class="menuLink"><a href="#news">News</a></span>
			  <span class="menuLink"><a href="#contact">Contact</a></span>
			  <span class="menuLink"><a href="#about">About</a></span>
			</div>
			<a href="javascript:void(0);" class="icon" id="menuIcon">
			  <i class="fa fa-bars"></i>
			  <span>Navigation Menu</span>
			</a>
		</div>

		<canvas id="renderCanvas" touch-action="none" display="none"></canvas>

		<tw-story>
			<tw-passage class="passage" aria-live="polite"></tw-passage>
		</tw-story>
		{{STORY_DATA}}
		<%- format %>
		
		<script>
			$(document).ready(function() {
				$('#menuIcon').click(function() {
					if ($("#menu").is(":hidden")) {
						$("#menu").show();
					} else {
						$("#menu").hide();
					}
				});
				$('#menu').on( "focusout", function() {
					console.log("focusout");
					$("#menu").hide();
				});
			});
		</script>
	</body>
</html>