<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{STORY_NAME}}</title>
		<%- story_css %>
		<%- arjs %>
	</head>
	<body>
		<tw-story class="centered">
			<tw-passage class="passage" aria-live="polite"></tw-passage>
		</tw-story>
		{{STORY_DATA}}
		<%- format %>
	</body>
</html>